* {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  font-size: 20px;

}

body.dropdown-page, h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body.dropdown-page, p {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: black;
}

#navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

h2 a {
  color: rgb(188, 170, 241);
}

.nav-image {
  width: 200px; /* Set width for images */
  height: auto; /* Maintain aspect ratio */
  margin: auto;
  border: rgb(122, 9, 9) solid 6px;
}

header {
  flex-grow: 1; /* Allow header to take available space */
  text-align: center; /* Center the header text */
  margin-bottom: 20px;
}


.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.main-section {
  padding: 20px;
}

ul {
  list-style-type: none;
}


/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  #navbar {
    text-align: center;
    /* Center the navigation links */
  }

  .nav-link {
    display: block;
    margin: 10px 0;
  }

  .main-section {
    padding: 10px;
  }
}

.Contact {
  text-align: center;
  list-style-type: none; /* Hide the bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.bold-item {
  font-weight: bold; /* Makes text bold */
  font-size: 1.6em; /* Adjusts font size (you can change the value as needed) */
}


.main-section {
  text-align: center;
}

.photo-albums {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.album {
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.album img {
  width: 200px; /* Set the width for the cover photo */
  height: 150px; /* Set the height for the cover photo */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 8px; 
  transition: transform 0.3s; /* Animation for hover effect */
}

.album img:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}

.album p {
  margin-top: 5px;
  font-weight: bold;
}

.banner {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  text-align: center;
  width: 100%; /* Adjust width to allow for centering */
  margin: 30px;
}

.banner img {
  margin: 0 10px; /* Add horizontal margin to each image */
}

.oct5 {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.oct19 {
  display: flex;
    justify-content: center; /* Centers the images */
    gap: 20px; /* Optional: adds space between images */
    padding: 20px;
}